<div class="row">
<!--  col md 6 prend la moitié de l'écran-->
<!--  col-md-offset-3 centre-->
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="4"
        />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
          {{ isLoginMode ? 'Login' : 'Sign up' }}
        </button> |

        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? 'Sign up': 'Login' }}
        </button>
      </div>
    </form>
  </div>
</div>
